@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Zenith Society: Server-Side</h1>
    <h4>This is the where you can add activities, events, roles, and user roles.</h4>
    <h5>Tom Nam (A00944112) - Server side</h5>
    <h5>Ryan Sirot (a00929055) - Client side</h5>
</div>
